:root {
  /* Do not set a font-size on a :root, body nor html level */
  /* Let your main text size be decided by the browser or the user settings */
  
/* font-size: 16px; */
}

body {
  /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #333; /* Gondola */
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 2.2rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
	font-size: 1.6rem;
}

a {
  color: #477ca7; /* Steel Blue */
}

a:visited {
  color: #74638f; /* Kimberly */
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee; /* White Smoke */
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 0.8rem;
  }
}

#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.2;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}